{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='product' %}">Product</a>
&rsaquo; Product
</div>
{% endblock %}

{% block content %}
<div id="content-main" class="p-5"> <!-- p-5: padding-->
    <a class="btn btn-primary mb-4" href="/admin/product/product/">Back</a>
    <h3>Product List: Last Week</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Register Date</th>
            </tr>
        </thead>
        <tbody>
            {% for d in week_data %}
            <tr>
                <td>{{ d.name }}</td>
                <td>{{ d.price }}</td>
                <td>{{ d.stock }}</td>
                <td>{{ d.register_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h3>Product List: Few Weeks Ago</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Register Date</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{ d.name }}</td>
                <td>{{ d.price }}</td>
                <td>{{ d.stock }}</td>
                <td>{{ d.register_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}