{% extends "admin/change_list.html" %}
{% load humanize %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<script>
    function order_refund_submit(obj_id) {
        jQuery('#changelist-form').append('<input type="hidden" name="obj_id" value="' + obj_id + '">');
        jQuery('#changelist-form').submit();
    }
</script>
{% endblock %}

{% block object-tools-items %}
<li>
    <a class="btn btn-primary" href="/admin/order/order/date_view/">Date View</a>
</li>
{{ block.super }}
{% endblock %}

